# ================================================================
# Tools
# ================================================================
[tools]

# Markdown
markdownlint-cli2 = "latest"

# GitHub Actions
actionlint = "latest"
shellcheck = "latest"

# Other tools
lefthook = "latest"
cspell = "latest"


# ================================================================
# Tasks
# See: https://mise.jdx.dev/tasks/toml-tasks.html
# ================================================================

# Global
[tasks.setup]
description = "Setup tools"
run = ["mise trust -yq", "mise install"]
alias = "s"

[tasks.fix]
description = "Fix all issues"
depends = ["md-fix", "rs-fix"]
alias = "f"

[tasks.check]
description = "Check for all issues"
depends = ["md-check", "gh-check", "spell-check", "rs-check"]
alias = "c"

[tasks.fix-and-check]
run = [{ task = "fix" }, { task = "check" }]
description = "Fix all issues and check for issues"
alias = "fc"

# Markdown
[tasks.md-fix]
description = "Fix Markdown issues"
run = "markdownlint-cli2 . --fix"
alias = "mf"

[tasks.md-check]
description = "Check for Markdown issues"
run = "markdownlint-cli2 ."
alias = "mc"

# GitHub Actions
[tasks.gh-check]
description = "Check GitHub Actions workflows"
run = "actionlint .github/workflows/*.yml"
alias = "ghc"

# Spell Check
[tasks.spell-check]
description = "Check spelling"
run = "cspell . --gitignore --verbose"
alias = "sc"

# Rust
[tasks.rs-install]
description = "Install Rust dependencies"
run = "cargo fetch"

[tasks.rs-fix]
description = "Fix Rust code"
run = [
  "cargo clippy --all-targets --all-features --no-deps --fix --allow-dirty",
  "cargo fmt",
]
alias = "rf"

[tasks.rs-check]
description = "Check Rust code"
run = [
  "cargo clippy --all-targets --all-features --no-deps",
  "cargo fmt -- --check",
  "cargo test -- --nocapture",
]
alias = "rc"

[tasks.rs-run]
description = "Run Rust application"
run = "cargo run"
alias = "rr"

[tasks.rs-build]
description = "Build Rust application"
run = "cargo build"

[tasks.rs-build-release]
description = "Build Rust application in release mode"
run = "cargo build --release"

[tasks.rs-clean]
description = "Clean Rust build artifacts"
run = "cargo clean"

# Release
[tasks.tag]
description = "Create release tag from Cargo.toml version"
run = "./create-release-tag.sh"

[tasks.tag-push]
description = "Push release tags to remote"
run = "git push --follow-tags"
